@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;1,300;1,400&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: gray;
    font-family: 'poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.card {
    position: relative;
    width: 270px;
    height: 450px;
    background: #e6e7e9;
    box-shadow: 6px 6px 20px #121213;
    margin: 10px;
    overflow: hidden;
}

.card .content {
    position: absolute;
    top: 10%;
    left: 10%;
    display: flex;
    align-items: center;
    color: #fff;

}

.card .content img {
    width: 50px;
    height: 40px;
}

.card .content .title_subtitle {
    margin-left: 5px;
}

.card .content .title_subtitle h3 {
    font-weight: 500;
    line-height: 10px;
    margin-top: 7px;
}

.card .content .title_subtitle h3 span {
    font-weight: 800;
}

.card .content .title_subtitle p {
    font-size: 10.5px;
    letter-spacing: 1px;
    margin: 5px 0px 0px 5px;
    color: #767477;
}




.card .content1 {
    position: absolute;
    top: 52%;
    left: 10%;
    display: flex;
    align-items: center;
    color: #000;
}


.card .content1 h1 {
    width: 5px;
    height: 37px;
    background: #dca53e;
}

.card .content1 .title_subtitle {
    margin-left: 15px;
}

.card .content1 .title_subtitle h3 {
    font-weight: 800;
    line-height: 10px;
    margin-top: 7px;
}

.card .content1 .title_subtitle h3 span {
    font-weight: 500;
}

.card .content1 .title_subtitle p {
    font-size: 11.5px;
    letter-spacing: 1px;
    margin: 5px;
    color: #767477;
}

.card ul {
    position: absolute;
    top: 64%;
    left: 17%;
    color: #000
}

.card ul li {
    list-style-type: none;
    padding: 2px 0px;
}

.card ul li a {
    text-decoration: none;
    color: #000;
    font-size: 12px; 
    
}
.card ul li .fa-solid {
    color:#e09e4a;
    margin-right: 10px;
}
   




.card:nth-child(2) .content {
    position: absolute;
    top: 15%;
    left: 20%;
    display: flex;
    flex-direction: column;
    color: #fff;

}

.card:nth-child(2) .content img {
    width: 42px;
    height: 37px;
}

.card:nth-child(2) .content .title_subtitle {
   margin: 10px 0px 0px 8px;
}

.card:nth-child(2) .content .title_subtitle h3 {
    font-weight: 500;
    line-height: 10px;
    margin-top: 7px;
    color: #000;
}

.card:nth-child(2) .content .title_subtitle h3 span {
    font-weight: 800;
}

.card:nth-child(2) .content .title_subtitle p {
    font-size: 10.5px;
    letter-spacing: 1px;
    margin: 5px 0px 0px 5px;
    color: #767477;
}

.card .webs{
    position:absolute;
    top: 90%;
    left: 23%;
    color: #afadae;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    transition: .3s linear;
    text-transform: lowercase;
}

.card .webs:hover{
 color: #fff;
}
.card .webs .fa-solid{
margin: 2px 4px 0px 0px;
   }

 